.maillink {  font-family: "Tahoma"; font-size: 8pt}
.maillink a:active {  color: #33FF66; text-decoration: underline}
.maillink a:hover { color: #FF6600; text-decoration: underline }
.maillink a:link { color: #CCFF00; text-decoration: underline }
.maillink a { color: #CCFF00; text-decoration: underline ; line-height: 15px}
.alltypemed {  font-family: "simsun"; font-size: 14.8px}
.alltypesm { font-family: "Tahoma"; font-size: 8pt}
script {  font-family: "simsun"; font-size: 14.8px}
.csmtype { font-family: "simsun"; font-size: 12px}
.ctype { font-family: "simsun"; font-size: 12px }
.wtype { font-family: "simsun"; font-size: 12px; color: #ffffff }
.wmtype { font-family: "simsun"; font-size: 12px; color: #ffffff }
.mybtn {
BORDER-RIGHT: #104a7b 1px solid; BORDER-TOP: #afc4d5 1px solid; BACKGROUND: #d6e7ef; BORDER-LEFT: #afc4d5 1px solid; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #104a7b 1px solid; HEIGHT: 16px; }
.myinput { COLOR: #000066; BACKGROUND: #d6e7ef; HEIGHT: 16px; border: #afc4d5 1px solid; }
input { font-family: "simsun"; font-size: 12px; }
frameset {  border: #D4D0C8 none; border-width: 0px 1px 0px 0px}
.message-menu-button { background-color:#d6e7ef; border:#7F9FAA 1px solid; }
.message-rfc822-header-name { color:#104A7B; background-color:#d6e7ef; border:#7F9FAA 1px solid; }
.new-message-header { font-size: 12px; color:#104A7B; background-color:#d6e7ef; border:#7F9FAA 1px solid; }
select { font-family: "simsun"; font-size:12px; background-color:#d6e7ef; border:#7F9FAA 1px solid }
textarea { font-size:12px; COLOR: #000066; BACKGROUND: #d6e7ef; border: #afc4d5 1px solid; }
.menu { font-size:14px; COLOR: #000066; TEXT-DECORATION: none }
